
<div class="centrar">
  
<app-aside ></app-aside>    


{{ message }}

    
<div class="section ">

  <app-formulario-ingreso (messageEvent)="receiveMessage($event)"></app-formulario-ingreso>

<div class="ContenidoTabla " >
<div class="mb-5 col-sm-4  search-box" > 

   <input class="form-control me-2" type="search" placeholder="Buscar" name="filterPost"
   aria-label="Search" [(ngModel)]="filterPost"
   [ngModel]="inputBuscar" 
  (ngModelChange)="inputBuscar = $event.toUpperCase()"
   >
</div>
 
   <div id="div1" >
    
      <table class="table" >
      <thead>
        <tr >
          <th scope="col">NRO</th>
          <th scope="col">TIPO DE PROSPECTO</th>
          <th scope="col">NOMBRE Y APELLIDO</th>
          <th scope="col">DNI</th>
          <th scope="col">NRO DE CONTACTO</th>
          <th scope="col">MOTIVO</th>
          <th scope="col">DEPARTAMENTO</th>
          <th scope="col">PROCEDENCIA</th>
          <th scope="col">EMPLEADO</th>
          <th scope="col">OBSERVACIONES</th>
         
    
          
        </tr>
      </thead>
      <tbody  >
    <tr *ngFor="let data of recepcionData  | filter:filterPost" > 
         
          <th scope="row">{{data.nro}}</th>
          <td>{{data.tipoDeProspecto}}</td>
          <td>{{data.nombreApellido}}</td>
       
         <td>{{data.dni}}</td>
          <td>{{data.nroContacto}}</td>
          <td>{{data.motivo}}</td>
          <td>{{data.departamento}}</td>
          <td>{{data.procedencia}}</td>
          <td>{{data.empleado}}</td>
          <td>{{data.observaciones}}</td>
        
    


         <!--   <td>
              <a href="" routerLink="/editar-receta"><i class="bi bi-pencil-fill p-1"></i></a>
              <a href=""><i class="bi bi-eye-fill p-1"></i></a>
              <a href=""><i class="bi bi-plus-lg p-1"></i></a>
              <a href=""><i class="bi bi-trash3-fill p-1"></i></a>
              
            </td> --> 
  
  
  
            </tr>
      </tbody>
    </table> 
  


  
    
    
      <!--  <tr *ngFor="let data of recepcionData  | filter:filterPost" > -->
        
        
    


         
  
  
  
           
      
   

  </div>
  </div> 
</div>
</div>
