
<div class="div-alert">
    <div class="card text-bg-success">
        <div class="card-body">
          <h5 class="card-title">Hola {{name}}</h5>
          <h6 class="card-subtitle mb-2 text-center"> Espero que estes muy bien </h6>
          <p class="card-text text-center">Te avisare cuando sea tu turno mediante una alerta</p>
          <div class="card-footer bg-transparent border-danger text-center">Faltan <span>{{turno}}</span> turnos para llegar a ti</div>

        </div>
      </div>
</div>
