<div class="card-aside">   
      <ul class="nav flex-column">
        <li class="nav-item"><a href="#">Mesa de entrada </a> </li>
        <li class="nav-item"><a href="#">Formulario 2</a></li>
        <li class="nav-item"><a href="#">Formulario 3</a></li>
        <li class="nav-item"><a href="#">Formulario 4</a></li>
      </ul>  




      
      <div class="selectbox mb-3 col-sm-2">
       
				<div class="select" id="select">          
					<div class="contenido-select">
					<h1 class="titulo">Selecciona tu pais</h1>	
        
					</div>
					<i class="bi bi-chevron-compact-down"></i>
				</div>

				<div class="opciones" id="opciones">
					<a href="#" class="opcion">
						<div class="contenido-opcion">							
							<div class="textos">
								<h1 class="titulo">Mexico</h1>								
							</div>
						</div>
					</a>
					<a href="#" class="opcion">
						<div class="contenido-opcion">							
							<div class="textos">
								<h1 class="titulo">España</h1>							
							</div>
						</div>
					</a>
					<a href="#" class="opcion">
						<div class="contenido-opcion">							
							<div class="textos">
								<h1 class="titulo">Colombia</h1>							
							</div>
						</div>
					</a>		
				</div>
			</div>
			<input type="hidden" name="pais" id="inputSelect" value="">
      
</div> 

